body {
    background-color: #f9faf8;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 50px;
    font-weight: bold;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.topnav {
    background-color: rgb(0, 0, 0);
    color: rgb(114, 114, 62);
    padding: 20px; 
    display: flex;
    gap: 18px;  
}

.topnav a {
    text-decoration: none;
    color: #f9faf8;
}

.topnav a:hover {
    color: rgb(255, 0, 166);
}

a {
    text-decoration: none;
    color: black;
}

/*input[type=text] {
    color: white;
    background-color: rgb(0, 255, 140);
    font-size: 100px;;
} */

.main-content {
    display: flex;
    justify-content: left;
    gap: 20px;
    padding-top: 50px;
    padding-left: 60px;
    flex-wrap: wrap;
}

.first-img {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.first-img img {
    width: 300px;
    border-radius: 10px;
    text-decoration: none;
}

.recipe-header {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-weight: bold;
    width: 300px;
}

.subtext {
    width: 400px;
}

.second-img img{
    width: 300px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    height: 300px;
    border-radius: 10px;
}

.third-img img {
    width: 300px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    height: 300px;
    border-radius: 10px;

}






