body {
    background-color: #f9faf8;
    height: 100vh;
    margin: 0;
}

.header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 50px;
    font-weight: bold;
    border-bottom: 2px solid rgb(72, 72, 72);
}

.topnav {
    background-color: black;
    color: rgb(114, 114, 62);
    padding: 20px;   
}

.topnav a {
    text-decoration: none;
    color: yellow;
}



